<?xml version="1.0" encoding="UTF-8"?>
<web-app
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://xmlns.jcp.org/xml/ns/javaee"
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
<description>MySQL</description>
<resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/mysql</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
</resource-ref>
 
<welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
</welcome-file-list>
<servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
</servlet>

<servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>packageManage</servlet-name>
    <jsp-file>/PackageManage.jsp</jsp-file>
</servlet>

<servlet-mapping>
    <servlet-name>packageManage</servlet-name>
    <url-pattern>/PackageManage</url-pattern>
</servlet-mapping>

<!-- 권한 관리 -->
<servlet>
    <servlet-name>authorityManage</servlet-name>
    <jsp-file>/authorityManage/AuthorityManage.jsp</jsp-file>
</servlet>

<servlet-mapping>
    <servlet-name>authorityManage</servlet-name>
    <url-pattern>/authorityManage</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>authorityEnroll</servlet-name>
    <jsp-file>/authorityManage/AuthorityEnroll.jsp</jsp-file>
</servlet>

<servlet-mapping>
    <servlet-name>authorityEnroll</servlet-name>
    <url-pattern>/authorityEnroll</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>authorityModify</servlet-name>
    <jsp-file>/authorityManage/AuthorityModify.jsp</jsp-file>
</servlet>

<servlet-mapping>
    <servlet-name>authorityModify</servlet-name>
    <url-pattern>/authorityModify/*</url-pattern>
</servlet-mapping>

<!-- 권한관리 끝 -->

<servlet>
    <servlet-name>exampleManage</servlet-name>
    <jsp-file>/exampleManage/exampleManage.jsp</jsp-file>
</servlet>

<servlet-mapping>
    <servlet-name>exampleManage</servlet-name>
    <url-pattern>/exampleManage</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>exampleEnroll</servlet-name>
    <jsp-file>/exampleManage/exampleEnroll.jsp</jsp-file>
</servlet>

<servlet-mapping>
    <servlet-name>exampleEnroll</servlet-name>
    <url-pattern>/exampleEnroll</url-pattern>
</servlet-mapping>

<!-- 예약 관리 -->
    <!-- 숙박시설 예약 -->
<servlet>
    <servlet-name>accomodationBookHistoryManage</servlet-name>
    <jsp-file>/accomodationBookHistoryManage/accomodationBookHistoryManage.jsp</jsp-file>
</servlet>

<servlet-mapping>
    <servlet-name>accomodationBookHistoryManage</servlet-name>
    <url-pattern>/accomodationBookHistoryManage</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>accomodationBookHistoryEnroll</servlet-name>
    <jsp-file>/accomodationBookHistoryManage/accomodationBookHistoryEnroll.jsp</jsp-file>
</servlet>

<servlet-mapping>
    <servlet-name>accomodationBookHistoryEnroll</servlet-name>
    <url-pattern>/accomodationBookHistoryEnroll</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>accomodationBookHistoryModify</servlet-name>
    <jsp-file>/accomodationBookHistoryManage/accomodationBookHistoryModify.jsp</jsp-file>
</servlet>

<servlet-mapping>
    <servlet-name>accomodationBookHistoryModify</servlet-name>
    <url-pattern>/accomodationBookHistoryModify/*</url-pattern>
</servlet-mapping>

    <!-- 숙박시설 예약취소 -->    
<servlet>
    <servlet-name>accomodationBookCancleHistoryManage</servlet-name>
    <jsp-file>/accomodationBookCancleHistoryManage/accomodationBookCancleHistoryManage.jsp</jsp-file>
</servlet>

<servlet-mapping>
    <servlet-name>accomodationBookCancleHistoryManage</servlet-name>
    <url-pattern>/accomodationBookCancleHistoryManage</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>accomodationBookCancleHistoryEnroll</servlet-name>
    <jsp-file>/accomodationBookCancleHistoryManage/accomodationBookCancleHistoryEnroll.jsp</jsp-file>
</servlet>

<servlet-mapping>
    <servlet-name>accomodationBookCancleHistoryEnroll</servlet-name>
    <url-pattern>/accomodationBookCancleHistoryEnroll</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>accomodationBookCancleHistoryModify</servlet-name>
    <jsp-file>/accomodationBookCancleHistoryManage/accomodationBookCancleHistoryModify.jsp</jsp-file>
</servlet>

<servlet-mapping>
    <servlet-name>accomodationBookCancleHistoryModify</servlet-name>
    <url-pattern>/accomodationBookCancleHistoryModify/*</url-pattern>
</servlet-mapping>
<!-- 예약 관리 끝 -->
</web-app> 